body {
    background-color: hsl(0, 1%, 27%);
}

.nav-link.active, .nav-link:active {
    background-color: #bd00b3 !important; /* Change to your desired color */
    color: #000 !important; /* Text color */
    border: none;
  }

.nav-link:hover {
    background-color: aqua;
    border: none;
}

.nav.nav-tabs {
    border: none
}